<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raffi Kitchen & Eatery | Home</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header class="flex">
      <h1><a class="logo" href="#">Raffi Kitchen & Eatery</a></h1>
      <nav>
        <div class="menu-toggle">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="menu">
          <div class="toggle-flex">
            <li><a href="#">Home</a></li>
          </div>
          <div class="toggle-flex">
            <li><a href="#">About Us</a></li>
          </div>
          <div class="toggle-flex">
            <li><a href="#">Contact</a></li>
          </div>
        </ul>
      </nav>
    </header>

    <!-- Hero Element (Jumbotron Element) -->
    <div class="hero">
      <img src="images/heros/hero-image_2.jpg" alt="Hero Image" />
    </div>

    <div>
      <h1 class="justify">Explore Restaurant</h1>
    </div>

    <!-- Daftar Restoran -->
    <div class="restaurant-list">
      <!-- Konten Daftar Restoran akan di-generate oleh JavaScript -->
    </div>

    <footer>
      <p>&copy; 2024 - Raffi Kitchen & Eatery</p>
    </footer>
  </body>
</html>
